

@import "./utils/variables";
@import "./utils/hidden";
@import "./utils/mixin";
@import "./utils/placeholders";


@import "./base/reset";
@import "./base/common";

@import "./components/container";
@import "./components/btn";
@import "./components/socialBtn";
@import "./components/modal";
@import "./components/logo";

@import "./layout/header";

@import "./layout/hero";
@import "./layout/features";
@import "./layout/employment";
@import "./layout/our-team";
@import "./layout/clients";

@import "./layout/portfolio";

@import "./layout/footer";




