.feature {
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
      display: flex;
      & {
        display: flex;
      }
      & .item{
        max-width: 270px;
      }
      & .item + .item {
        margin-left: 30px;
      } 
    }
    &__box {
      @extend %align-list;
      justify-content: center;    
      width: 270px;
      height: 120px;
      border-radius: 4px;
      background-color: var(--primary-button-color);
    } 
    
    &__title {
      color: var(--main-text-color);
      text-transform: uppercase;
      @include font(14px, 700, 0.03em, 1.14);
      margin-top: 30px;
    }
    &__description {
      color: var(--title-text-color);
      @include font(14px, 400, 0.03em, 1.71);
      margin-top: 10px;
    }
  }  