.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  & .logo {
    color: var(--primary-wite-color);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
  }
  &__address {
    text-align: center;
  }
  &-connect {
    margin-top: 60px;
      &__title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-wite-color);

  }
    & .social-link {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      color: var(--primary-wite-color);
      fill: var(--primary-wite-color);
      @include animation;
    }
    .social-link:hover,
    .social-link:focus {
      background-color: var(--accent-color);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row; 
      justify-content: space-around;  
      align-items:normal; 
    }
    &-connect {
      margin-top: 0px
    }
  }
  @media screen and (min-width: 1200px){
    &__container {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
    }
    &__address{
      text-align: start;
      margin-right: 70px;
      
    }
    &-connect{    
        &__title{
          text-align: start;
        }       
      margin-top: 12px;
            
    }
  }
}
.address {  
  &-list{
    margin-top: 20px;
    &__item + &__item {
      margin-top: 9px;      
    }
    &__link {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
    &__alt {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.connect-icon {
  fill: var(--primary-button-color);
}
.subscription {
  margin-top: 60px;
  display: block;
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  &__label {
    text-align: center;
    position: relative;

    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-wite-color);
  }
  &__input {
    padding-left: 16px;
    background: transparent;
    min-width: 450px;
    margin: auto;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-wite-color);
    .subscription input + & {
      display: block;
    }
  }  
  &-button {  
    position: relative;
    height: 50px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    @extend %align-list;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-wite-color);
    border: none;
    border-radius: 4px;
    background: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {       
   background-color: #177cce;
    }
  }
  &-button__icon {
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
  } 

  @media screen and (min-width: 1200px){
    width: auto;
    margin-left: auto;
    margin-top: 12px;
    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0px;
    }
    & form {
      display: flex;
      justify-content: flex-end;
      width: 600px;
      align-items: flex-end;
    }
    &__label {
      text-align: start;
    }
    &-button {
      margin-left: 10px;
    }
    &__input {
      padding-left: 16px;
      background: transparent;
      min-width: 0px;
      margin: 0px;
      height: 50px;
  }
}
}
