.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  &-buttons{
    margin-bottom: 50px;
    &__title {
      text-align: center;
    }
    &-list {
      @extend %align-list;
      justify-content: center;
      &__item + &__item {
        margin-left: 8px;
      }
    }
  }
  &-cards{
    margin-left: auto;
    margin-right: auto;
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }
    &__list &__item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 90px) / 3);
    }    
    &__item {
      display: flex;
      flex-wrap: wrap;
      @include animation
    }   
    &__item:hover,
    &__item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    } 
  } 
}  
  .bordered {
    position: relative;
    background: var(--primary-wite-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 20px 24px;
    &__description {
      color: var(--main-text-color);
      @include font(18px, 700, 0.06em, 2);
    }
    &__title {
      color: var(--title-text-color);
      @include font(16px, 400, 0.03em, 1.88);
    }
  } 
  .portfolio-wrap-card {
    position: relative;
    overflow: hidden;
    &__text {
      position: absolute;
      top: 0;
      left: 0;
      padding: 63px 24px;
      @include font(18px, 400, 0.03em, 1.56);
    
      color: var(--primary-wite-color);
      background: rgba(33, 150, 243, 0.9);
    
      height: 100%;
      transform: translateY(100%);
      transition: transform 250ms;
      overflow: auto;
      
      .portfolio-cards__item:hover &,
      .portfolio-cards__item:focus & {
        transform: translateY(0);
      }
    }
  }

