.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
  
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .header-menu {
    position: absolute;

    top: 0%;
    right: 0%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 40px 48px;
  
    background-color: var(--primary-wite-color);
    // transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // .backdrop.is-hidden & {
    //   transform: translate(-50%, -50%) scale(1.1);
    // }
  }

  .menu-nav-list {                 
    display: flex;   
    flex-direction: column; 
    &__item + &__item {
      margin-top: 32px;
    }
    &__link {
      position: relative;
      color: var(--main-text-color);
      @include font(40px, 500, 0.02em, 1.17);    
      text-decoration: none;
      @include animation; 
      &:hover {
        color: var(--accent-color);
      }
    }   
  }
   .menu-close-button {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    border: none;
    &__icon {
      margin: 0;
      padding: 0;
      fill: var(--primary-text-color);
      @include animation;
      .menu-close-button:hover &,
      .menu-close-button:focus & {
        fill: var(--accent-color);
      }
  }

}
.menu-nav{
  display: flex;
  flex-direction: column;

  justify-content: space-between;

}
.menu-nav-contact{
  &__item + &__item{
    margin-top: 10px; 
  }
  &__number{
     @include font(34px, 500, 0.02em, 1.17); 
    color: var(--accent-color)
  }
  &__address{
    @include font(24px, 500, 0.02em, 1.17); 
  }
}
.menu-nav-social{
  display: flex;
  align-items: center;  
  margin-top: 64px;
    &__item + &__item{
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid var(--title-text-color);
    }
    &__link{
      @include font(18px, 500, 0.02em, 1.22); 
      color: var(--accent-color);
    }
}