:root {
    --primary-text-color: #000000;
    --main-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-wite-color: #ffffff;
    --primary-button-color: #f5f4fa;
    --footer-color: #2f303a;
    --icon-primary-color: #afb1b8;
  }
